@import url("~/assets/css/media.css");

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px;
}

.list-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	width: 100%;
}

.input {
	padding: 8px;
	margin-bottom: 16px;
	font-size: 16px;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

@media screen and (--large-screen) {
	.container {
		padding: 15px 20px;
	}
}
